
.container .btn{
    background-color:  #7F001F;
    color: wheat;
    font-weight: 600;
}
.container .btn:hover{
    background-color: #D3A29D;
    color: #7F001F;
}
.container a{
    font-weight: 600;
}

a:hover{
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
  }
